body {
    background-color: skyblue;
    color: rgb(54, 64, 38)
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-seriff
}

nav a{
    display: inline-block;
    background-color: saddlebrown;
    color: goldenrod;
    margin-right: 1px;
    
}