* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-image: url(../extra_fotos/istockphoto-627934232-612x612.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
iframe {
    position:fixed;
    top:0%;
    left:0%;
    right:0%;
    z-index: -1;
    width:100%;
    height:100dvh;
}
nav {
    background-color: transparent;
    margin:auto;
    width:fit-content;
}

nav a {
    display: inline-block;
    background-color: transparent;
    color: rgb(170, 212, 229);
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border:1px solid white;
    border-radius: 3rem;
    text-shadow: 1px 1px black;
    font-weight: bolder;

}

nav a.selected {
    background-color: white;
    color: silver;
}
main{
    padding: 1rem;
    text-align: center;
}
main a {
    color: white;
    border:1px solid white;
    border-radius: 3rem;
    text-shadow: 1px 1px black;
    font-weight: bolder;
    display: inline-block;
}
main a img {
    border-radius: 3rem;
}
#results img {
    border-radius: 0.5rem;
}

#background-video{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#carouselExampleFade {
    width: 50vw;
    margin: auto;
    margin-top: 4rem;
    border: 1rem solid white;

}
#mountains #results,
#results pre {
    background: rgba(0,0,0,0.4);
    color: white;
    min-width: 600px;
    max-width: 800px;
    width: fit-content;
    margin: 0.5rem auto;
    text-align: left;
    border-radius: 2rem;
    padding: 1rem;
}
#results img {
    margin: auto;
    display: block;
}

.glass-box {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    min-width: 600px;
    max-width: 800px;
    width: fit-content;
    margin: 0.5rem auto;
    text-align: left;
    border-radius: 2rem;
    padding: 1rem;
  }